<% unless @instructors.empty? %>
  <!-- <h3>&nbsp;</h3> -->
  <div class="panel clearfix">
    <h5>Camp Instructors</h5>
    <ul class="side-nav">
      <% @instructors.each do |instructor| %>
        <li><%= link_to instructor.name, instructor_path(instructor) %></li>
      <% end %>
    </ul>
  </div>

<% else %>
  <div class="panel clearfix">
    <h5>No Instructors</h5>
  </div>
<% end %>

<% if can? :update, @camp %>
<div class="panel clearfix">
    <h5>Registrations (<%= "#{@camp.registrations.size}" %>)
   <!--  <h5>Registered Students</h5> -->
    <ul class="side-nav">
      <% @students.each do |s| %>
        <li><%= link_to s.name, student_path(s) %><%= "Student Rating #{s.rating}" %></li>
      <% end %>
    </ul>
  </div>

<% else %>
  <div class="panel clearfix">
    <h5>No Students</h5>
  </div>
<% end %>