<!-- An administrator user who logs in is immediately taken to his/her 
dashboard where they can see key information about camp registrations 
and instructor assignments. It is left as an exercise to the student 
developer to determine what information makes the most sense to 
include on this dashboard and how to display it.  -->

<h3>Welcome back, <%= current_user.username %></h3>

<p>Below is information on camp registrations and instructor assignments:</p>

<table border="0" cellspacing="5" cellpadding="5">
	<tr valign="top">
		<td>
			<h3>Reports &nbsp;&nbsp;</h3>
			<% if @userCamps.nil? || @userCamps.empty? %>
				<p>There are no camps at this time</p>
			<% else %>
				<div id="display_camps">
					<%= render :partial => "admin_camp" %>
				</div>
			<% end %>
		</td>
		<td width="100">&nbsp;</td>
		<td>
			<h3><span id="task_title">Reports</span>  &nbsp;&nbsp;</h3>
			<%= link_to 'Payment Report', payment_report_path %>
			<!-- For a given camp, list of all payments received and balances due along with 
grand totals for each. 
 
2. List of all payments received and balances due for a particular family for a 
particular year. 
 
3. List of all camps for a given year and the total amount of payments received in 
a particular year as well as the aggregate balance due for each -->
		</td>
	</tr>
</table>