<!-- An instructor user who logs in is immediately taken to his/her dashboard 
where they can see their personal information and as well as upcoming 
camps they are assigned to. The exact details of this dashboard content 
and layout is left to the student developer to decide.  -->

<h3>Welcome back, Instructor <%= current_user.username %></h3>

<p>Below is information on your projects and incomplete tasks for those projects:</p>

<table border="0" cellspacing="5" cellpadding="5">
	<tr valign="top">
		<td>
			<h3>Camp Information &nbsp;&nbsp;</h3>
			<% if @userCamps.nil? || @userCamps.empty? %>
				<p>There are no camps at this time</p>
			<% else %>
				<div id="display_camps">
					<%= render :partial => "admin_camp" %>
				</div>
			<% end %>
		</td>
		<!-- <td width="50">&nbsp;</td>
		<td>
			<h3><span id="task_title">Incomplete Tasks</span>  &nbsp;&nbsp;<span class="add_link"><%#= link_to "[add new task]", new_task_path %></span></h3>
			<% #if @incomplete_tasks.empty? %>
				<p>You have no incomplete tasks at this time.</p>
			<%# else %>
				<div id="display_tasks">
					<%#= render :partial => 'partials/task_item', :collection => @incomplete_tasks %>
				</div>
			<% #end %>
		</td> -->
	</tr>
</table>