<div class = "transparent">
<h2>About the A &amp; M Chess Camps</h2>

<%= image_tag 'BoysPlaying2.jpg' %>
<p class="supertiny">&nbsp;</p>
<p> 
  This is a fictional chess camp created for the Spring '14 67-272 Project. 
</p>
</div>