<div class = "transparent">
<h2>Contact A &amp; M Chess Camps</h2>

<p> <%= image_tag 'Kelsey1.jpg', class: "left", width: 150 %>If you have any questions and concerns, please contact us at: </p>

<table cellpadding="3" class="table">
  <tr>
    <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
    <td>Annie Chen</td>
  </tr>
  <tr>
    <td>Email:</td>
    <td>
    <%= mail_to("annieche@andrew.cmu.edu", "Annie", encode: "javascript") %> 
    </td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td>909-912-9987</td>
  </tr>
</table>
</div>
