/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 *= require jquery.ui.datepicker
 */

/* body{
 	background-image:url("chessbg.jpg");
 	background-repeat:no-repeat;
 	background-position:right bottom;
 	background-attachment:fixed;
 }

 div.transparent{
   padding: 10px;
   background: rgb(255, 255, 255); // Fallback 
   background: rgba(255, 255, 255, 0.75);
 }*/

 /* body{
 	background-image: url("chessbg.jpg") !important;
 	background-repeat: no-repeat;
 	background-position: right bottom;
 	background-attachment: fixed;
 }*/

 .alignleft {
 	padding-left:50px;
	float: left;
}
.alignright {
	padding-right:50px;
	float: right;
}
#login{
	background-color:#E3F4FF;
	padding: 5px;
}